@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/*
=============== 
GLOBAL STYLES
===============
*/

$fontFam: "Roboto Condensed", sans-serif;
$clr-bcg: #22495de4;
$clr-font: #fff;
// $text: grey;
$trans: all 0.2s ease-in-out;
$radius: 0.2rem;
$lightShadow: 0 0 5px grey;
$darkShadow: 0 0 10px grey;
$spacing: 2px;

.dark-theme {
  --clr-bcg: #43d2c2;
  --clr-font: #f4f4f4e4;
  // --text: rgb(243, 206, 147);
}
.light-theme {
  --clr-bcg: #f4f4f4e4;
  --clr-font: #43d2c2;
  // --text: grey;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  list-style-type: none;
}

.section {
  width: 95vw;
  max-width: 1170px;
  margin: 0 auto;
}

/*
=============== 
BUTTONS
===============
*/

.btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: var(--trans);
}

.btn:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .section {
    width: 90vw;
  }

  .logo {
    font-size: 3.2rem;
  }
  .logo-text {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 2.4rem;
  }
}

/*
=============== 
Navbar
===============
*/

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fontFam);
  padding: 1rem;
  min-height: 7vh;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  color: var(--clr-font);
  border-radius: 50%;
  animation: footyLog infinite 3s;
  animation-direction: alternate;
}

.logo-text {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  letter-spacing: var(--spacing);
  font-weight: 500;
}

/*
=============== 
Home
===============
*/

.header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./assets/joel-muniz-IkSjU7Ij2xk-unsplash.jpg") no-repeat center/cover;
  height: 60vh;
  border-bottom-left-radius: 50% 0%;
  border-bottom-right-radius: 50% 0%;
}

@media (min-width: 768px) {
  .header {
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
    box-shadow: 0 0 5px grey;
  }
}

.header-title {
  font-size: 3rem;
  color: $clr-bcg;
}

/*
=============== 
Footer
===============
*/

footer {
  min-height: 10vh;
  font-family: var(--fontFam);
  background: #383838;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    padding: 1rem;
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 100px;

    .icons {
      color: var(--clr-font);
      font-size: 1rem;
      transition: var(--trans);

      &:hover {
        color: var(--clr-bcg);
        font-size: 1rem;
      }
    }
  }
}

footer .footer-logo {
  margin-right: 0.5rem;
}

.footer .footer-text {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  footer {
    .section {
      flex-direction: row;
    }

    .links {
      width: 150px;

      .icons {
        color: var(--clr-font);
        font-size: 1.5rem;
        transition: var(--trans);
      }
    }
  }

  footer .footer-logo {
    font-size: 1.5rem;
  }
  footer .footer-text {
    font-size: 1.5rem;
  }
}
