@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/*
=============== 
GLOBAL STYLES
===============
*/

$fontFam: "Roboto Condensed", sans-serif;
$clr-font: #e7e7e7;
$white: #fff;
$links: #808080bc;
$bg-image: #001025;
$btnMain: #f53c3f;
$btnMainOp: #f53c3fc8;
$btnHover: #ec7936;
$nav-bg: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.676));
$transOut: all 0.2s ease-in-out;
$trans: all 0.2s ease-in;
$radiusL: 0.5rem;
$radius: 0.2rem;
$lightShadow: 0 0 5px grey;
$darkShadow: 0 0 10px grey;
$spacing: 2px;

@mixin btnEffect {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 6%, #ff2525 88%);
  transition: $trans;
}

.dark-theme {
  $clr-font: #e7e7e7;
  $bg-image: #001025;
  $nav-bg: #222;
}
.light-theme {
  $clr-bcg: #f4f4f4e4;
  $clr-font: #43d2c2;
  $nav-bg: #222;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-image;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.section {
  width: 95vw;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  color: $white;
  margin: 4rem auto;
}

@media (min-width: 768px) {
  .section {
    width: 90vw;
  }
}

.title {
  font-size: 3rem;
  color: $clr-font;
  letter-spacing: $spacing;
  text-transform: capitalize;
  font-weight: 390;
}

/*
=============== 
BUTTONS
===============
*/

.btn {
  background: $btnMain;
  color: $white;
  transition: $trans;
  cursor: pointer;
  border: 0;
  font-size: 1.2rem;
  padding: 3px 20px;
  border-radius: 0.4rem;
  text-align: center;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    // background: $btnHover;
    @include btnEffect();
  }
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.btn:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .btn {
    font-size: 2.4rem;
  }
}

/*
=============== 
Navbar
===============
*/

nav {
  background: $bg-image;
  box-shadow: $lightShadow;
}

.nav-center {
  padding: 0 1.5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 2.4rem;
  color: $btnMain;
  background: transparent;
  border-color: transparent;
  transition: $trans;
  cursor: pointer;
}
.nav-toggle:hover {
  color: $white;
}
.logo {
  font-size: 2.4rem;
  color: $btnMain;
  cursor: pointer;
  display: flex;
}

.logo-icon {
  animation: logo-animate infinite alternate 6s;
}

.logo-text {
  font-size: 2.4rem;
  margin-left: 0.5rem;
  color: $links;
  transition: $trans;

  &:hover {
    color: $white;
  }
}

.links a {
  color: $links;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: $spacing;
  display: block;
  padding: 1rem;
  padding-left: 2rem;
  transition: $trans;
}
.links a:hover {
  color: $white;
  padding-left: 3.2rem;
  text-shadow: $darkShadow;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: $trans;
}
.show-container {
  height: 16rem;
}

.register {
  display: none;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-height: 10vh;
  }
  .nav-header {
    padding: 0;
  }

  .logo {
    font-size: 3.2rem;
  }

  .logo-text {
    font-size: 3.2rem;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: $btnMain;
    text-underline-position: below;
  }

  .register {
    display: block;
    text-transform: uppercase;
    font-weight: 490;
  }
}

@keyframes logo-animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
=============== 
Home
===============
*/

.home .header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./assets/joel-muniz-IkSjU7Ij2xk-unsplash.jpg") no-repeat center/cover;
  background-position-y: -10%;
  min-height: 90vh;
  border-bottom-left-radius: 50% 0%;
  border-bottom-right-radius: 50% 0%;
}

.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;

  h3 {
    color: $white;
    text-shadow: $darkShadow;
    margin: 3.2rem 0;
    font-size: 2.6rem;
    font-weight: 490;
    letter-spacing: $spacing;
  }
}

@media (min-width: 576px) {
  .home .container {
    h3 {
      font-size: 3.2rem;
    }
  }
}

@media (min-width: 768px) {
  .header {
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
    box-shadow: $lightShadow;
    background-position-y: 30%;
  }
}

/*
=============== 
About
===============
*/

.about {
  margin: 8rem 0 0;
  color: $white;

  h2 {
    color: $btnMain;
    text-shadow: 0 0 10px $links;
    font-size: 3.2rem;
    font-weight: 450;
    text-align: center;
    letter-spacing: $spacing;

    span {
      color: $white;
    }
  }

  p {
    font-size: 1.6rem;

    margin: 2.4rem auto;
    span {
      color: $btnMain;
    }
  }

  .btn {
    text-transform: uppercase;
    box-shadow: $lightShadow;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .about {
    h2 {
      font-size: 4.8rem;
    }

    p {
      font-size: 2.4rem;
      text-align: justify;
      max-width: 780px;
    }

    .btn {
      font-size: 2.4rem;
    }
  }
}

/*
=============== 
SearchForm
===============
*/

.form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  .search {
    background: transparent;
    border: 0;
    border-bottom: 3px solid $white;
    width: 100%;
    transition: $trans;
    color: $white;
    font-size: 2.4rem;
    padding: 0.2rem;

    &:focus {
      outline: 0;
      padding-bottom: 0.5rem;
      border-bottom-color: $btnMain;
    }
  }

  .error {
    color: $btnMain;
    font-size: 1.6rem;
    padding-top: 1rem;
  }
}

@media (min-width: 576px) {
  .form {
    max-width: 400px;

    .search {
      font-size: 3.2rem;
    }
  }
}

/*
=============== 
Movies
===============
*/

.movie-title {
  text-align: center;
  font-weight: 490;
  font-size: 2.4rem;
  padding: 6rem 0 0;
  letter-spacing: $spacing;
}

.movies {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  margin-top: 10rem;
}

.movie {
  border: 3px solid $btnMain;
  margin: 3rem;
  border-radius: $radiusL;
  width: 100%;
  max-width: 250px;
  position: relative;
  transition: $trans;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: $white;

  &:hover > .caption {
    visibility: visible;
    transform: translateY(0);
  }

  img {
    height: 400px;
  }

  .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background: $btnMainOp;
    transition: $trans;
    transform: translateY(100%);
    visibility: hidden;

    span {
      font-size: 2.4rem;
      font-weight: 490;
    }
  }
}

@media (min-width: 576px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .movie-title {
    font-size: 3.2rem;
  }
}

/*
=============== 
Movie
===============
*/

.single-movie {
  margin: 8rem 0 0;
  color: $white;

  h2 {
    color: $btnMain;
    text-shadow: 0 0 10px $links;
    font-size: 3.2rem;
    font-weight: 450;
    text-align: center;
    letter-spacing: $spacing;
  }
}

.movie-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8rem auto;

  img {
    width: 100%;
    max-width: 340px;
    border-radius: $radiusL;
    box-shadow: $lightShadow;
  }
}

.movie-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  p {
    margin: 1.6rem 0 0.2rem 2.4rem;
    font-size: 2.4rem;
    letter-spacing: $spacing;
    color: $links;
    text-shadow: 0 0 5px rgb(45, 45, 45);

    &:nth-of-type(1) {
      color: $white;
      text-shadow: none;
    }
  }
}
.movie-review {
  display: flex;
  margin-top: 2.4rem;

  .sub-title {
    p {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    .review-btn {
      margin-left: 2.4rem;
      background: transparent;
      border: 2px solid $btnMain;
      font-size: 1.6rem;
      box-shadow: $lightShadow;
    }
  }
}
.movie-footer {
}

@media (min-width: 768px) {
  .single-movie {
    h2 {
      font-size: 4.8rem;
    }
  }

  // .movie-header {
  //   img {
  //     max-width: 400px;
  //   }
  // }
  // .movie-info {
  // }
  // .movie-review {
  // }
  // .movie-footer {
  // }
}

/*
=============== 
Error
===============
*/
.error-section {
  h3 {
    text-align: center;
    font-size: 3.2rem;
  }

  img {
    margin: 4rem auto;
    width: 100%;
    max-width: 800px;
  }

  .btn {
    text-transform: uppercase;
  }
}

/*
=============== 
Footer
===============
*/

footer {
  min-height: 10vh;
  font-family: var(--fontFam);
  background: #383838;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    padding: 1rem;
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 100px;

    .icons {
      color: var(--clr-font);
      font-size: 1rem;
      transition: var(--trans);

      &:hover {
        color: var(--clr-bcg);
        font-size: 1rem;
      }
    }
  }
}

footer .footer-logo {
  margin-right: 0.5rem;
}

.footer .footer-text {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  footer {
    .section {
      flex-direction: row;
    }

    .links {
      width: 150px;

      .icons {
        color: var(--clr-font);
        font-size: 1.5rem;
        transition: var(--trans);
      }
    }
  }

  footer .footer-logo {
    font-size: 1.5rem;
  }
  footer .footer-text {
    font-size: 1.5rem;
  }
}
